cmake_install.cmake
cmake-build-debug/
Makefile
CMakeFiles/
CMakeCache.txt
.idea/
adaptive-thresholding
data/augmented_data
data/thresholded_references
data/augmented_images_paths.txt
data/processed_data
data/__pycache__/
__pycache__
experiments/gif_data
experiments/gif_data3
experiments/my_gif2.gif
experiments/my_gif3.gif
data/augmented_data2
experiments/my_gif.gif